<div ng-switch="desc.type" ng-form name="row">
    <div ng-switch-when="select">
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <select ng-model="model[desc.property]" name="field"
                    ng-options="code as label for (code, label) in desc.list"
                    ng-required="desc.constraints.required" ng-blur="desc.blur = true"
                    ng-class="{blur: desc.blur}"></select>
            <span ng-messages="row.field.$error" class="error" ng-show="desc.blur || row.field.$dirty">
                <span ng-message="required">Champ obligatoire.</span>
            </span>
        </div>
    </div>
    <div ng-switch-when="checkbox">
        <label>
            <input type="checkbox" ng-model="model[desc.property]" name="field"
                   ng-required="desc.constraints.required" ng-blur="desc.blur = true"
                   ng-class="{blur: desc.blur}"/>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
    </div>
    <div ng-switch-when="rating">
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <span rating ng-model="model[desc.property]"></span>
        </div>
    </div>
    <div ng-switch-default>
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <input type="{{desc.type}}" ng-model="model[desc.property]" name="field"
                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 700, 'blur': 0} }"
                   ng-required="desc.constraints.required" ng-blur="desc.blur = true"
                   ng-class="{blur: desc.blur}"/>
            <span ng-messages="row.field.$error" class="error" ng-show="desc.blur || row.field.$dirty">
                <span ng-message="number">Veuillez saisir un nombre.</span>
                <span ng-message="email">Email invalide.</span>
                <span ng-message="required">Champ obligatoire.</span>
            </span>
        </div>
    </div>

</div>
