<div ng-switch="desc.type">
    <div ng-switch-when="select">
        <label>
            <span ng-bind="desc.label"></span>
        </label>
        <div>
            <select ng-model="model[desc.property]"
                    ng-options="code as label for (code, label) in desc.list"></select>
            <!-- message d'erreur -->
        </div>
    </div>
    <div ng-switch-when="checkbox">
        <label>
            <input type="checkbox" ng-model="model[desc.property]"/>
            <span ng-bind="desc.label"></span>
        </label>
    </div>
    <div ng-switch-default>
        <label>
            <span ng-bind="desc.label"></span>
        </label>
        <div>
            <input type="{{desc.type}}" ng-model="model[desc.property]"/>
            <!-- message d'erreur -->
        </div>
    </div>

</div>
