<div ng-switch="desc.type">
    <div ng-switch-when="select">
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <select ng-model="model[desc.property]"
                    ng-options="code as label for (code, label) in desc.list"
                    ng-required="desc.constraints.required"></select>
            <!-- message d'erreur -->
        </div>
    </div>
    <div ng-switch-when="checkbox">
        <label>
            <input type="checkbox" ng-model="model[desc.property]"
                   ng-required="desc.constraints.required"/>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
    </div>
    <div ng-switch-default>
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <input type="{{desc.type}}" ng-model="model[desc.property]"
                   ng-required="desc.constraints.required"/>
            <!-- message d'erreur -->
        </div>
    </div>
</div>
