body {
    margin: 0;
    padding: 1em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}
form [ng-repeat] {
    margin-bottom: 20px;
}
label:not(:last-child) {
    display: block;
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
label + div, label:last-child {
    margin-left: 180px;
    vertical-align: middle;
}
input, select {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    border: 2px solid #ccc;
    width: 206px;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
}
input:focus, select:focus {
    border: 2px solid #0088cc;
    outline:none;
}
input[type="checkbox"] {
    width: auto;
}
select {
    height: 30px;
    width: 220px;
}

.autoform-header {
    color: darkslategray;
    margin: 1em;
}
.autoformfield-icons {
    float: right;
}
.autoformfield-edit {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #edc;
}
.autoformfield-edit label {
    display: inline-block;
    margin: 0 2em 1em 0;
}

.autoformfield.ng-move {
     transition: 0.3s linear all;
     position: relative;
     top: 2em;
 }
.autoformfield.ng-move.ng-move-active {
    top: 0;
}
.autoformfield.ng-move + div {
    transition: 0.3s linear all;
    position: relative;
    top: -2em;
}
.autoformfield.ng-move.ng-move-active + div {
    top: 0;
}

.error {
    color: saddlebrown;
}

/* ----- fin des styles fournis ----- */

input.ng-invalid.blur, input.ng-invalid.ng-dirty {
    border: 2px solid #c99;
}
input.ng-invalid.blur:focus, input.ng-invalid.ng-dirty:focus {
    border: 2px solid #c55;
}
