<div ng-switch="desc.type" ng-form="row">
    <div><span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span></div>
    <div ng-switch-when="select">
        <select name="field" ng-model="object[desc.property]"
                ng-options="code as label for (code, label) in desc.list"></select>
    </div>
    <div ng-switch-when="checkbox">
        <input type="checkbox" name="field" ng-model="object[desc.property]"/>
    </div>
    <div ng-switch-default>
        <input type="{{desc.type}}" name="field" ng-model="object[desc.property]"
               ng-required="desc.constraints.required"
               ng-blur="desc.blur = true"
               ng-class="{blur: desc.blur}"/>
        <span ng-messages="row.field.$error" ng-show="desc.blur" class="error">
            <span ng-message="number">Veuillez saisir un nombre.</span>
            <span ng-message="email">Email invalide.</span>
            <span ng-message="required">Champ obligatoire.</span>
        </span>
    </div>
</div>
