<div ng-if="!isEditing()" ng-switch="desc.type" ng-form name="row">
    <div class="autoformfield-icons" ng-show="isEditable()">
        <div>
            <a href="" ng-click="moveUp()"    tabIndex="-1"><i class="icon-circle-arrow-up"></i></a>
            <a href="" ng-click="startEdit()" tabIndex="-1"><i class="icon-edit"></i></a>
        </div>
        <div>
            <a href="" ng-click="moveDown()"  tabIndex="-1"><i class="icon-circle-arrow-down"></i></a>
            <a href="" ng-click="remove()"    tabIndex="-1"><i class="icon-remove-circle"></i></a>
        </div>
    </div>
    <div ng-switch-when="select">
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <select ng-model="model[desc.property]" name="field"
                    ng-options="code as label for (code, label) in desc.list"
                    ng-required="desc.constraints.required" ng-blur="desc.blur = true"
                    ng-class="{blur: desc.blur}"></select>
            <span ng-messages="row.field.$error" class="error" ng-show="desc.blur || row.field.$dirty">
                <span ng-message="required">Champ obligatoire.</span>
            </span>
        </div>
    </div>
    <div ng-switch-when="checkbox">
        <label>
            <input type="checkbox" ng-model="model[desc.property]" name="field"
                   ng-required="desc.constraints.required" ng-blur="desc.blur = true"
                   ng-class="{blur: desc.blur}"/>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
    </div>
    <div ng-switch-when="rating">
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <rating ng-model="model[desc.property]"></rating>
        </div>
    </div>
    <div ng-switch-default>
        <label>
            <span ng-bind="desc.label"></span><span ng-show="desc.constraints.required">*</span>
        </label>
        <div>
            <input type="{{desc.type}}" ng-model="model[desc.property]" name="field"
                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 700, 'blur': 0} }"
                   ng-required="desc.constraints.required" ng-blur="desc.blur = true"
                   ng-class="{blur: desc.blur}"/>
            <span ng-messages="row.field.$error" class="error" ng-show="desc.blur || row.field.$dirty">
                <span ng-message="number">Veuillez saisir un nombre.</span>
                <span ng-message="email">Email invalide.</span>
                <span ng-message="required">Champ obligatoire.</span>
            </span>
        </div>
    </div>
</div>
<div ng-if="isEditing()" class="autoformfield-edit" ng-form name="fieldEdit">
    <div class="autoformfield-icons">
        <a href="" ng-click="stopEdit(desc)" tabIndex="-1"><i class="icon-eye-close"></i></a>
    </div>
    <div>
        <label>Propriété: <input ng-model="desc.property"/></label>
        <label>Libellé: <input ng-model="desc.label"/></label>
        <label><input type="checkbox" ng-model="desc.constraints.required"/>obligatoire</label>
        <label>Type: <select ng-model="desc.type"
                             ng-options="opt.type as opt.label for opt in fieldTypes"></select></label>
    </div>
    <ng-switch on="desc.type">
        <div ng-switch-when="select">
            Values (JSON): <input json ng-model="desc.list" name="list"/>
            <i class="icon-ok" ng-show="fieldEdit.list.$valid"></i>
            <i class="icon-ban-circle" ng-show="fieldEdit.list.$invalid"></i>
        </div>
    </ng-switch>

</div>